<header>
      <nav class="container">
        <ul class="row text-center">
          <li class="col-2">
            <a href="/index" class="">Home</a>
          </li>
          <li class="col-2">
            <a href="/browse" class="">Browse</a>
          </li>
          <li class="col-2">
            <a href="/add" class="">Add</a>
          </li>

          <!-- <li class="col-2">
            <a href="" class="">Books</a>
          </li>
          <li class="col-2">
            <a href="" class="">Movies</a>
          </li>
          <li class="col-2">
            <a href="" class="">TV Shows</a>
          </li>
          <li class="col-2">
            <a href="" class="">Games</a>
          </li> -->
        </ul>
      </nav>
    </header>