<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/addEntry.js"></script>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="container">
        <h2>Add an item</h2>
        <div class="row">
          <form class="col-lg-5" id="form" action="/add" method="POST">
            <div class="form-floating">
              <input type="text" class="form-control" name="title" placeholder="title" id="title">
              <label class="label" for="title">Title</label>
              <div class="error"></div>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" name="person" placeholder="person" id="person">
              <label class="label" for="person">Person</label>
              <div class="error"></div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-floating">
                  <input type="number" class="form-control" name="year" placeholder="year" id="year">
                  <label class="label" for="year">Year</label>
                  <div class="error"></div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-floating">
                  <select class="form-select" name="type" id="type">
                    <option value="" selected disabled hidden>Select an option</option>
                    <option value="Book">Book</option>
                    <option value="Movie">Movie</option>
                    <option value="TV show">TV Show</option>
                    <option value="Video Game">Video Game</option>
                  </select>
                  <label class="label" for="type">Type</label>
                  <div class="error"></div>
                </div>
              </div>
            </div>

              <div class="form-floating textarea">
                <textarea class="form-control" name="description"></textarea>
                <label class="label" for="description">Description (Optional)</label>
              </div>

            <div class="err-container">
              <p class="err-text"></p>
            </div>

            <button class="btn btn-outline-light submit-button" id="submit-button" type="submit">Submit</button>
          </form>
        </div>
      </div>

    </main>

    <footer>

    </footer>

  </body>
</html>