.card-title {
  color: rgb(237, 237, 237);
  font-weight: 600;
}

.card {
  background-color: rgb(37, 37, 37);
  border: 1px solid grey;
  cursor: pointer;
}

.card:hover {
  border: 1px solid white;
}

.card > img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  min-height: 4.9rem;
}

/* .card-text:hover {
  min-height: none;
  white-space: normal;
  overflow: visible;
} */

.btn-outline-warning, .btn-outline-danger {
  max-width: max-content;
}

.buttons {
  display: flex;
}
