#cards-container {
  padding-top: 1rem;
}

.card {
  background-color: rgb(37, 37, 37);
  border: 1px solid grey;
  cursor: pointer;

  transition: transform 0.2s;
}

.card:hover {
  border: 1px solid white;
  transform: scale(1.1);
}

.card-title {
  color: rgb(237, 237, 237);
  font-weight: 600;
}

.card > img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  min-height: 4.9rem;
}

/* .card-text:hover {
  min-height: none;
  white-space: normal;
  overflow: visible;
} */

.btn-outline-warning, .btn-outline-danger {
  max-width: max-content;
}

.buttons {
  display: flex;
}

.bi-pencil-square {
  color: #ffc107;
}

.btn-outline-warning:hover > i {
  color: black;
}

.bi-trash {
  color: #dc3545;
}

.btn-outline-danger:hover > i {
  color: white;
}