.card-title {
  color: rgb(237, 237, 237);
  font-weight: 600;
}

.card {
  background-color: rgb(37, 37, 37);
  border: 1px solid grey;
}

.btn-outline-warning, .btn-outline-danger {
  max-width: max-content;
}

.buttons {
  display: flex;
}
