:root {
  --movie-color: rgb(215, 112, 107);
  --tv-color: rgb(110, 194, 231);
  --book-color: rgb(96, 203, 113);
  --game-color: rgb(204, 213, 122);
}

#cards-container {
  padding-top: 1rem;
}

.card {
  background-color: rgb(37, 37, 37);
  border: 1px solid grey;
  cursor: pointer;
  overflow: hidden;

  transition: transform 0.2s;
}
/*
@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
} */

.card:hover {
  border: 1px solid white;
  transform: scale(1.1);

  /* animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function:cubic-bezier(1, 0, 0, 1); */
}

.card:hover > img {
  /* Scaling the image will be wrong for posters. Instead, just have a div cover the image initially, then move the div away on hover */
  transform:
    scale(3)
    translateY(1rem);
  filter: brightness(.3);
}

.card-title {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.card > img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  z-index: 0;

  transition: all 0.4s ease-in-out;
}

.card-body {
  z-index: 1;
}

.card-year {
  font-size: .8rem;
  margin-bottom: .5rem;
  color: rgb(224, 224, 224);
}

.card-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  min-height: 4.9rem;
}

.card-type-container {
  align-content: center;
}

.card-type-span {
  border: 1px solid;
  padding: .1rem .8rem .2rem ;
  font-size: .7rem;
  border-radius: 1rem;
}

.Movie {
  background-color: rgb(from var(--movie-color) r g b / 15%);
  border-color:  var(--movie-color);
  color: var(--movie-color);
}

.TV {
  background-color: rgb(from var(--tv-color) r g b / 15%);
  border-color:  var(--tv-color);
  color: var(--tv-color);
}

.Book {
  background-color: rgb(from var(--book-color) r g b / 15%);
  border-color:  var(--book-color);
  color: var(--book-color);
}

.Game {
  background-color: rgb(from var(--game-color) r g b / 15%);
  border-color:  var(--game-color);
  color: var(--game-color);
}

.card-buttons {
  display: flex;
  justify-content: right;
}

.card-buttons > form{
  width: fit-content;
}

.btn-outline-warning, .btn-outline-danger {
  max-width: max-content;
}


.bi-pencil-square {
  color: #ffc107;
}

.btn-outline-warning:hover > i {
  color: black;
}

.bi-trash {
  color: #dc3545;
}

.btn-outline-danger:hover > i {
  color: white;
}