* {
  /* background-color: rgb(35, 35, 35); */
  color: rgb(237, 237, 237);
}

header {
  background-color: rgb(0, 0, 0);
  /* position: sticky; */
  top: 0;
}

li {
  list-style: none;
}

li > a {
  display: block;
  padding: .7em 0 .7em 0;
  color: rgb(234, 234, 234);
  text-decoration: none;
  font-weight: 600;

  transition: background-color .2s;
}

li > a:hover {
  background-color: rgb(63, 63, 63);
}

[class*="form-"] {
    margin-bottom: 1em;
    field-sizing: content;
}

body {
  background-color: rgb(29, 29, 29);
}

.hero {
  height: 100vh;
  height: 100dvh;
  align-content: center;
  position: static;
}

.hero-content {
  margin-top: -6em
}

.type {
  text-align: left;
}

@keyframes pulsate {
  0%, 100% {
    text-shadow: 0 0 3em rgba(255, 255, 255, .3),
      0 0 4em rgba(255, 255, 255, 0.2),
      0 0 5em rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow:
      0 0 3em rgba(255, 255, 255, 1),
      0 0 4em rgba(255, 255, 255, 0.8),
      0 0 5em rgba(255, 255, 255, 0.6);
  }
}

h1 {
  font-weight: 600;
  padding-bottom: 1rem;

  animation-name: pulsate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* transition: text-shadow 1s; */
}

/* h1:hover {
  text-shadow:
    0 0 3em rgba(255, 255, 255, 1),
    0 0 4em rgba(255, 255, 255, 0.8),
    0 0 5em rgba(255, 255, 255, 0.6);
} */

table {
  table-layout: fixed;
}

thead > tr {
  border-bottom: 1px solid rgb(131, 131, 131);
}

tr {
  border-bottom: 1px solid rgb(84, 84, 84);
}


td {
  padding: 1em 0 1em .5em;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

td:hover {
  white-space: normal;
  overflow-y: visible;
}