/* .col {
  background-color: aquamarine;
  border: 2px solid rgb(87, 125, 145);
} */

.box-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: aquamarine;
  border: solid 2px black;
  padding: 4em;
  width: 10%;
  height: 10%;
}

.tester {
  height: 1000px;
}

.hero {
  height: 100vh;
  height: 100dvh;
  align-content: center;
  position: static;
}

.hero-content {
  margin-top: -6em
}

.type {
  text-align: left;
}

header {
  background-color: rgb(0, 0, 0);
  /* position: sticky; */
  top: 0;
}

li > a {
  display: block;
  padding: .7em 0 .7em 0;
  color: white;
  text-decoration: none;
  font-weight: 600;

  transition: background-color .2s;
}

li > a:hover {
  background-color: rgb(63, 63, 63);
}

[class*="form-"] {
    margin-bottom: 1em;
}