/* .col {
  background-color: aquamarine;
  border: 2px solid rgb(87, 125, 145);
} */

.tester {
  height: 1000px;
}

.hero {
  height: 100vh;
  height: 100dvh;
  align-content: center;
  position: static;
}

.hero-content {
  margin-top: -6em
}

.type {
  text-align: left;
}

header {
  background-color: rgb(0, 0, 0);
  /* position: sticky; */
  top: 0;
}

li {
  padding: .7em 0 .7em 0;
}

li > a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}


.form-floating {
    margin-bottom: 1em;
}