/* .box {
  background-color: aqua;
  padding: 2em;
} */

* {
  /* background-color: rgb(35, 35, 35); */
  color: rgb(237, 237, 237);
}

header {
  background-color: inherit;
  position: sticky;
  top: 0;
}

nav {
  justify-content: space-evenly;
}

ul {
  border-bottom: 2px solid white;
  justify-content: space-evenly;
  padding-left: 0;
}

li {
  list-style: none;
}

li > a {
  display: block;
  padding: .7em 0 .7em 0;
  color: rgb(234, 234, 234);
  text-decoration: none;
  font-weight: 600;

  transition: background-color .2s;
}

li > a:hover {
  background-color: rgb(63, 63, 63);
}

.form-floating {
    margin-bottom: 1em;
    field-sizing: content;
}

/* [class*="form-"]:not([class*="float"]):focus {
  border: 0
}

[class*="form-"]:not([class*="float"]).success {
  border: 3px solid green;
}

[class*="form-"]:not([class*="float"]).fail {
  border: 3px solid red;
} */

/* .error {

} */

body {
  background-color: rgb(29, 29, 29);
}

.hero {
  height: 100vh;
  height: 100dvh;
  align-content: center;
  position: static;
}

.hero-content {
  margin-top: -6em
}

.type {
  text-align: left;
}

@keyframes glow {
  0%, 100% {
    text-shadow:
      0 0 4em rgba(255, 255, 255, 1),
  }
  40%, 45% {
    text-shadow:
      0 0 2em rgba(255, 255, 255, 1),
      0 0 3em rgba(255, 255, 255, 0.8),
      0 0 4em rgba(255, 255, 255, 0.6);
  }
}

.hero h1 {
  font-weight: 600;
  padding-bottom: 1rem;
}

.hero h1:hover {
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn-outline-light:hover {
  box-shadow: 0 0 2em rgba(255, 255, 255, .6);
}

option {
  color: black;
}

.entry h1 {
  font-weight: bold;
}

.entry div {
  display: flex;
}

.dot {
  margin: 0 1rem 0 1rem;
}